<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Theta 2k23</title>
		<link rel="icon" type="image/png" href="images/logo.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/style-custom.css">
   
	</head>
	<body>
    <header class="header">
			<a href="/" class="logo"> 
				<img style="font-size: 30px; font-weight: bold; color: #0e8bb5; margin-bottom:-5px;" src="images/loogoo.png" alt="">
				Theta <span style="color: #0e8bb5;">2k23</span>
			</a>
			<nav class="navbar">
			   <div id="close-navbar" class="fas fa-times"></div>
			   <a href="/">Home</a>
			   <a href="/about">About</a>
			   <a href="/clusters">Clusters</a>
			   <a href="/contact">Contact</a>
			</nav>
			<div class="icons">
			   <a href="/dashboard"> <div class="fas fa-user"></div></a>
			   <div id="menu-btn" class="fas fa-bars"></div>
			</div>
		 </header>
<section class="heading-link">
    <h3>Our Clusters</h3>
    <p> 
        <a href="index.html">Home</a> / Clusters 
    </p>
</section>
<form action="/reg-event" method="post">
<section class="courses">
    <h1 class="heading">Visit our Clusters</h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="images/Access.jpg" alt="">
                <h3>ACCESS</h3>
            </div>
            <div class="content">
                <h3>"Access The World Through Talents"</h3>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Click here for Register
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-bs-backdrop="false" data-bs-scroll="true">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title offcanvas-body" id="offcanvasExampleLabel">Access</h5>
                    <button type="button" class="btn-close offcanvas-body" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="Access" id="" value="RRR">RRR</li>
                        <li class="dropdown-item"><input type="checkbox" name="Access" id="" value="PS2">PS 2</li>
                        <li class="dropdown-item"><input type="checkbox" name="Access" id="" value="SING IN THE RAIN">SING IN THE RAIN</li>
                      </ul>
                    </div>
                  </div>
                </div>                
                
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Contest: 3 </span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Biogenesis.jpg" alt="">
                <h3>BIOGENESIS</h3>
            </div>
            <div class="content">
                <h3>From fiction to reality</h3>
                <p>We aspire to design,<br> integrate and explore robotics.</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample1" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                  </div>
                  <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Events
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><input type="checkbox" name="Biogenesis" id="" value="BIG BANG THEORY">BIG BANG THEORY</li>
                      <li class="dropdown-item"><input type="checkbox" name="Biogenesis" id="" value="BRAIN CHASERS">BRAIN CHASERS</li>
                      <li class="dropdown-item"><input type="checkbox" name="Biogenesis" id="" value="SMARTICLES">SMARTICLES</li>
                      <li class="dropdown-item"><input type="checkbox" name="Biogenesis" id="" value="MODEL EXHIBIT">MODEL EXHIBIT</li>
                      <li class="dropdown-item"><input type="checkbox" name="Biogenesis" id="" value="MEMORIES BRING BACK YOU">MEMORIES BRING BACK YOU </li>
                    </ul>
                  </div>
                </div>
              </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 5</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Electronica.png" alt="">
                <h3>ELECTRONICA</h3>
            </div>
            <div class="content">
                <h3>Where Tech Enthusiasts Unite</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="Electronica" id="" value="WHO AM I">WHO AM I</li>
                        <li class="dropdown-item"><input type="checkbox" name="Electronica" id="" value="TECH TRAID">TECH TRAID</li>
                        <li class="dropdown-item"><input type="checkbox" name="Electronica" id="" value="DIGITAL FUNDS">DIGITAL FUNDS</li>
                        <li class="dropdown-item"><input type="checkbox" name="Electronica" id="" value="MIND TEASE">MIND TEASE</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 4</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Equilibria.png" alt="">
                <h3>EQUILIBRIA</h3>
            </div>
            <div class="content">
                <h3>Battle for Intellect</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample3" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="Equilibria" id="" value="CLASH OF BRAINS">CLASH OF BRAINS</li>
                        <li class="dropdown-item"><input type="checkbox" name="Equilibria" id="" value="SEEDS">SEEDS</li>
                        <li class="dropdown-item"><input type="checkbox" name="Equilibria" id="" value="SPARKLES">SPARKLES</li>
                        <li class="dropdown-item"><input type="checkbox" name="Equilibria" id="" value="MYSTERIO">MYSTERIO</li>
                        <li class="dropdown-item"><input type="checkbox" name="Equilibria" id="" value="PIVOTAL">PIVOTAL</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 5</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/informatica.png" alt="">
                <h3>INFORMATICA</h3>
            </div>
            <div class="content">
                <h3>Embrace Math for brighter tomorrow</h3>
                <p style="padding: .8px;">M-mistakes A-allow<br> T-thinking to H-happen</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample4" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample4" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="Informatica" id="" value="CAPTURE THE FLAG">CAPTURE THE FLAG</li>
                        <li class="dropdown-item"><input type="checkbox" name="Informatica" id="" value="CODE A THON">CODE A THON</li>
                        <li class="dropdown-item"><input type="checkbox" name="Informatica" id="" value="TECH QUIZ">TECH QUIZ</li>
                        <li class="dropdown-item"><input type="checkbox" name="Informatica" id="" value="IDEATHON">IDEATHON</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 4</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Mathematica.jpg" alt="">
                <h3>MATHEMETICA</h3>
            </div>
            <div class="content">
                <h3>Nature's secrets, unlocked!</h3>
                <p>The genesis of <br> new possibilities</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample5" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample5" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="Mathematica" id="" value="RAZZLE DAZZLE">RAZZLE DAZZLE</li>
                        <li class="dropdown-item"><input type="checkbox" name="Mathematica" id="" value="MATHPLAY">MATHPLAY</li>
                        <li class="dropdown-item"><input type="checkbox" name="Mathematica" id="" value="DIVIDE,COMBINE AND CONQUER">DIVIDE,COMBINE AND CONQUER</li>
                        <li class="dropdown-item"><input type="checkbox" name="Mathematica" id="" value="FUNKY FEST">FUNKY FEST</li>
                        <li class="dropdown-item"><input type="checkbox" name="Mathematica" id="" value="PAPER PRESENTATION">PAPER PRESENTATION</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events:5</span>
                </div>
            </div>
        </div>
        <div class="box">
          <div class="image">
              <img src="images/Optica.png" alt="">
              <h3>OPTICA</h3>
          </div>
          <div class="content">
              <h3>Nature's secrets, unlocked!</h3>
              <p>The genesis of <br> new possibilities</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample6" aria-controls="offcanvasExample">
                Click here for Register
            </button>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample6" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                  </div>
                  <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Events
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><input type="checkbox" name="Optica" id="" value="TREASURE HUNT">TREASURE HUNT</li>
                      <li class="dropdown-item"><input type="checkbox" name="Optica" id="" value="JODO JEETHO">JODO JEETHO</li>
                      <li class="dropdown-item"><input type="checkbox" name="Optica" id="" value="KICK THE LUCK">KICK THE LUCK</li>
                      <li class="dropdown-item"><input type="checkbox" name="Optica" id="" value="SOS">SOS</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="icons">
                  <span> <i class="fas fa-book"></i> Events:4 </span>
              </div>
          </div>
      </div>
      <div class="box">
        <div class="image">
            <img src="images/Pabbaja.png" alt="">
            <h3>PABBAJA</h3>
        </div>
        <div class="content">
            <h3>Nature's secrets, unlocked!</h3>
            <p>The genesis of <br> new possibilities</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample7" aria-controls="offcanvasExample">
              Click here for Register
          </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample7" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div>
                  Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                </div>
                <div class="dropdown mt-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      Events
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="KALAM">KALAM</li>
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="ALL IN ALL AZHAGURAJA">ALL IN ALL AZHAGURAJA</li>
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="THAMILZHODU VILAYADU">THAMILZHODU VILAYADU</li>
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="RAJAPAT">RAJAPAT</li>
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="PENAMUNAIYIL PESU">PENAMUNAIYIL PESU</li>
                    <li class="dropdown-item"><input type="checkbox" name="Pabbaja" id="" value="DRAMA AND PATIMANDRAM,RAJAPAT">DRAMA AND PATIMANDRAM,RAJAPAT  </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="icons">
                <span> <i class="fas fa-book"></i> Events:6 </span>
            </div>
        </div>
    </div>
    <div class="box">
      <div class="image">
          <img src="images/Robotics.png" alt="">
          <h3>ROBOTICS</h3>
      </div>
      <div class="content">
          <h3>Nature's secrets, unlocked!</h3>
          <p>The genesis of <br> new possibilities</p>
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample8" aria-controls="offcanvasExample">
            Click here for Register
        </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample8" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
              </div>
              <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Events
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><input type="checkbox" name="Robotics" id="" value="ROBO CRAZE">ROBO CRAZE</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="icons">
              <span> <i class="fas fa-book"></i> Events: 1</span>
          </div>
      </div>
    </div>
  <div class="box">
    <div class="image">
        <img src="images/Sportiva.png" alt="">
        <h3>SPORTIVA</h3>
    </div>
    <div class="content">
        <h3>Nature's secrets, unlocked!</h3>
        <p>The genesis of <br> new possibilities</p>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample9" aria-controls="offcanvasExample">
          Click here for Register
      </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample9" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            </div>
            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                  Events
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="POWER LIFTING">POWER LIFTING</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="TUG OF WAR">TUG OF WAR</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="URIADI">URIADI</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="DEAD HANG">DEAD HANG</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="ARM WRESTILING">ARM WRESTILING</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="BASKET BALL">BASKET BALL</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="FOOTBALL SHOOT">FOOTBALL SHOOT</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="MUSICAL CHAIR">MUSICAL CHAIR</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="ONE OVER CRICKET">ONE OVER CRICKET</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="LUCKY CORNER">LUCKY CORNER</li>
                <li class="dropdown-item"><input type="checkbox" name="Sportiva" id="" value="BOLDOUT">BOLDOUT</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="icons">
            <span> <i class="fas fa-book"></i> Events: </span>
            <span> <i class="fas fa-clock"></i> Workshops: </span>
        </div>
    </div>
  </div>
<div class="box">
  <div class="image">
      <img src="images/Emulsion.png" alt="">
      <h3>EMULSION</h3>
  </div>
  <div class="content">
      <h3>Nature's secrets, unlocked!</h3>
      <p>The genesis of <br> new possibilities</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample10" aria-controls="offcanvasExample">
        Click here for Register
    </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample10" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Events
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="SHORT FILM">SHORT FILM</li>
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="AD FILM">AD FILM</li>
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="MASHUP">MASHUP</li>
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="DIGITAL CAMERA PHOTOGRAPHY">DIGITAL CAMERA PHOTOGRAPHY</li>
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="MOBILE PHOTOGRAPHY">MOBILE PHOTOGRAPHY</li>
              <li class="dropdown-item"><input type="checkbox" name="Emulsion" id="" value="ON SPOT PHOTOGRAPHY">ON SPOT PHOTOGRAPHY</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="icons">
          <span> <i class="fas fa-book"></i> Events: 6</span>
      </div>
  </div>
</div>
</div>
<button class="btn submit-btn" type="submit">Submit</button>
</form>
</section>
<section class="footer">
  <div class="box-container">
      <div class="box">
          <h3> <img style="font-size: 30px; font-weight: bold; color: #0e8bb5; margin-bottom:-5px;" src="images/loogoo.png" alt="">
              Theta <span style="color: #0e8bb5;">2k23</span></h3>
          <p>Techno-management fest of SASTRA Deemed to be University</p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <h3>Quick links</h3>
          <a href="/" class="link">Home</a>
          <a href="/about" class="link">About</a>
          <a href="/clusters" class="link">Clusters</a>
          <a href="/contact" class="link">Contact</a>
      </div>
      <div class="box">
          <h3>Useful links</h3>
          <a href="https://www.sastra.edu/" target="_blank"class="link">Sastra University</a>
          <a href="#" class="link">Rules & Regulation</a>
      </div>
      <div class="box">
          <h3>Newsletter</h3>
          <p>Subscribe for latest upadates</p>
          <form action="">
              <input type="email" name="" placeholder="Enter your email" id="" class="email">
              <input type="submit" value="Subscribe" class="btn" onclick="showMessage()">
          </form>
      </div>
  </div>
  <div class="credit">
       Created by <span>Web Design Commitee</span> |@ all rights reserved! 
  </div>
</section>

<style>
  .header a {
  text-decoration: none;
}

  .offcanvas-body {
  font-size: 18px;
}

.offcanvas-body * {
  font-size: inherit;
}
.dropdown-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-item label {
  margin-bottom: 0;
}

.submit-btn{
  text-align: center;
}

</style>
<script>
  // Set a global variable with the count value
  // Get all the checkboxes
const checkboxes = document.querySelectorAll('input[type="checkbox"]');

// Add an event listener to each checkbox
checkboxes.forEach(checkbox => {
  checkbox.addEventListener('change', () => {
    let checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;

    if (checkedCount >= 10) {
      // Disable all other checkboxes if more than 10 are selected
      
      checkboxes.forEach(cb => {
        if (!cb.checked) {
          cb.disabled = true;
        }
      });
      alert("you have selected 10 Events");
    } else {
      // Enable all checkboxes if less than or equal to 10 are selected
      checkboxes.forEach(cb => {
        cb.disabled = false;
      });
    }
  });
});

</script>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- <script src="js/script.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
  function scrollToSection(sectionId) {
      const section = document.querySelector(sectionId);
      if (section) {
          section.scrollIntoView({ behavior: "smooth" });
      }
  }
  
</script>

</body>

</html>
