    <!-- <div class="row">
        <div class="card col-6" style="width: 18rem;">
            <img src="images/Access.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Access</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="container-fluid heading">
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Select Events</button>
                    <div class="collapse" id="collapseExample1">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            RRR
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                                PS 2
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                          <label class="form-check-label" for="checkbox3">
                            SING IN THE RAIN
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-6" style="width: 18rem;">
            <img src="images/Biogenesis.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BIOGENESIS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="container-fluid heading">
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample1">Select Events</button>
                    <div class="collapse" id="collapseExample2">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            BIG BANG THEORY
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                            BRAIN CHASERS
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                          <label class="form-check-label" for="checkbox3">
                            SMARTICLES
                          </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                MODEL EXHIBIT
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                MEMORIES BRING BACK YOU 
                            </label>
                          </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-6" style="width: 18rem;">
            <img src="images/Electronica.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ELECTRONICA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="container-fluid heading">
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample1">Select Events</button>
                    <div class="collapse" id="collapseExample3">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            WHO AM I
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                            TECH TRAID
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                          <label class="form-check-label" for="checkbox3">
                            DIGITAL FUNDS
                          </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                MIND TEASE
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card col-6" style="width: 18rem;">
            <img src="images/Equilibria.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EQUILIBRIA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="container-fluid heading">
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample1">Select Events</button>
                    <div class="collapse" id="collapseExample4">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                            CLASH OF BRAINS
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                          <label class="form-check-label" for="checkbox2">
                            TECH TRAID
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                          <label class="form-check-label" for="checkbox3">
                            SEEDS
                          </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                SPARKLES
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                MYSTERIO
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">
                                PIVOTAL
                            </label>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div> -->
!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Theta 2k23</title>
		<link rel="icon" type="image/png" href="images/logo.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/style-custom.css">
   
	</head>
	<body>

		<header class="header">
			<a href="/" class="logo"> 
				<img style="font-size: 30px; font-weight: bold; color: #0e8bb5; margin-bottom:-5px;" src="images/loogoo.png" alt="">
				Theta <span style="color: #0e8bb5;">2k23</span>
			</a>
			<nav class="navbar">
			   <div id="close-navbar" class="fas fa-times"></div>
			   <a href="/">Home</a>
			   <a href="/about">About</a>
			   <a href="/clusters">Clusters</a>
			   <a href="/contact">Contact</a>
			</nav>
			<div class="icons">
			   <a href="/dashboard"> <div class="fas fa-user"></div></a>
			   <div id="menu-btn" class="fas fa-bars"></div>
			</div>
		 </header>
<section class="heading-link">
    <h3>Our Clusters</h3>
    <p> 
        <a href="index.html">Home</a> / Clusters 
    </p>
</section>
<section class="courses">
    <h1 class="heading">Visit our Clusters</h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="images/Access.jpg" alt="">
                <h3>ACCESS</h3>
            </div>
            <div class="content">
                <h3>We speak cinema</h3>
                <p>Capturing  wonders,<br> one  frame  at  a  time</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Click here for Register
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                          Events
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><input type="checkbox" name="" id="">RRR</li>
                        <li class="dropdown-item"><input type="checkbox" name="" id="">PS 2</li>
                        <li class="dropdown-item"><input type="checkbox" name="" id="">SING IN THE RAIN</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Contest: 6 </span>
                    <span> <i class="fas fa-clock"></i> Workshop: nil </span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Biogenesis.jpg" alt="">
                <h3>BIOGENESIS</h3>
            </div>
            <div class="content">
                <h3>From fiction to reality</h3>
                <p>We aspire to design,<br> integrate and explore robotics.</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample1" aria-controls="offcanvasExample">
                  Click here for Register
              </button>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                  </div>
                  <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Events
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><input type="checkbox" name="" id="">BIG BANG THEORY</li>
                      <li class="dropdown-item"><input type="checkbox" name="" id="">BRAIN CHASERS</li>
                      <li class="dropdown-item"><input type="checkbox" name="" id="">SMARTICLES</li>
                      <li class="dropdown-item"><input type="checkbox" name="" id="">MODEL EXHIBIT</li>
                      <li class="dropdown-item"><input type="checkbox" name="" id="">MEMORIES BRING BACK YOU </li>
                    </ul>
                  </div>
                </div>
              </div>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 1</span>
                    <span> <i class="fas fa-clock"></i> Workshops: 1</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Informatica.png" alt="">
                <h3>Informatica</h3>
            </div>
            <div class="content">
                <h3>Where Tech Enthusiasts Unite</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Informatica.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 4</span>
                    <span> <i class="fas fa-clock"></i> Workshops: 1</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Electronica.png" alt="">
                <h3>Electronica</h3>
            </div>
            <div class="content">
                <h3>Let's Integrate the world</h3>
                <p>We design, develop and deploy<br> the building blocks of modern era.</p>
                <a href="Electronica.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: 4</span>
                    <span> <i class="fas fa-clock"></i> Workshops: 1</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Equilibria.png" alt="">
                <h3>Equilibria</h3>
            </div>
            <div class="content">
                <h3>Battle for Intellect</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Equilibria.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/Math.jpg" alt="">
                <h3>Mathematica</h3>
            </div>
            <div class="content">
                <h3>Embrace Math for brighter tomorrow</h3>
                <p style="padding: .8px;">M-mistakes A-allow<br> T-thinking to H-happen</p>
                <a href="Mathematica.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
        <div class="box hide">
            <div class="image">
                <img src="images/Biogenesis.jpg" alt="">
                <h3>Biogenesis</h3>
            </div>
            <div class="content">
                <h3>Nature's secrets, unlocked!</h3>
                <p>The genesis of <br> new possibilities</p>
                <a href="Biogenesis.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
        <div class="box hide">
            <div class="image">
                <img src="images/Optica.png" alt="">
                <h3>Optica</h3>
            </div>
            <div class="content">
                <h3>Things just aren't that simple</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Optica.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
        <div class="box hide">
            <div class="image">
                <img src="images/Sportiva.png" alt="">
                <h3 style="border: #0e8bb5;">Spotiva</h3>
            </div>
            <div class="content">
                <h3>Be a player not a spectator</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Sportiva.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
        <div class="box hide">
            <div class="image">
                <img src="images/Access.jpg" alt="">
                <h3>Access America</h3>
            </div>
            <div class="content">
                <h3>Access the world through talents</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Access.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>         
        </div>
        <div class="box hide">
            <div class="image">
                <img src="images/Pabbaja.png" alt="">
                <h3>Pabbaja</h3>
            </div>
            <div class="content">
                <h3>தமிழுக்கு அமுதென்று பெயர் உண்டு</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
                <a href="Pabbaja.html" class="btn">Click for Registration</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> Events: </span>
                    <span> <i class="fas fa-clock"></i> Workshops: </span>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more"> <div class="btn">Load more</div> </div>
</section>
<section class="footer">
  <div class="box-container">
      <div class="box">
          <h3> <img style="font-size: 30px; font-weight: bold; color: #0e8bb5; margin-bottom:-5px;" src="images/loogoo.png" alt="">
              Theta <span style="color: #0e8bb5;">2k23</span></h3>
          <p>Techno-management fest of SASTRA Deemed to be University</p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <h3>Quick links</h3>
          <a href="/" class="link">Home</a>
          <a href="/about" class="link">About</a>
          <a href="/clusters" class="link">Clusters</a>
          <a href="/contact" class="link">Contact</a>
      </div>
      <div class="box">
          <h3>Useful links</h3>
          <a href="https://www.sastra.edu/" target="_blank"class="link">Sastra University</a>
          <a href="#" class="link">Rules & Regulation</a>
      </div>
      <div class="box">
          <h3>Newsletter</h3>
          <p>Subscribe for latest upadates</p>
          <form action="">
              <input type="email" name="" placeholder="Enter your email" id="" class="email">
              <input type="submit" value="Subscribe" class="btn" onclick="showMessage()">
          </form>
      </div>
  </div>
  <div class="credit">
       Created by <span>Web Design Commitee</span> |@ all rights reserved! 
  </div>
</section>

<style>
  .offcanvas-body {
  font-size: 18px;
}

.offcanvas-body * {
  font-size: inherit;
}
</style>

<script>
  function showMessage() {
    alert("Thanks for subscribing :)");
  }
</script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
  function scrollToSection(sectionId) {
      const section = document.querySelector(sectionId);
      if (section) {
          section.scrollIntoView({ behavior: "smooth" });
      }
  }
  
</script>

</body>

</html>
